* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  --pink: #FF7D7D;
  --pink-light: #FE9393;
  --grey: #EEEEEE;
  --grey-dark: #707070;
  --white: #FFFFFF;
  --blue: #4583D5;

  font-size: 62.5%;
  font-family: 'Segoe UI', sans-serif;

  background-color: var(--grey);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}