/********** CABEÇALHO **********/
header .mobile-header {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 16.6rem;

  background-color: var(--pink-light);
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3rem;

  background-color: var(--pink);
}

header .header-top > div {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;

  font-size: 1.3rem;
  color: var(--white);
}

header .header-top .header-top-content :nth-child(1) {
  padding-right: 6.5rem;
}


header .header-main-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;
}

header .header-main-content {
  justify-content: space-evenly;
  margin-top: 2.6rem;
}

header .header-main-content > img {
  width: 17.7rem;
  height: 4.1rem;
}

header .header-main-content > input {
  width: 62.6rem;
  height: 4.9rem;

  margin: 0 10rem 0 12rem;

  padding: 0 6rem 0 5rem;

  border-radius: .5rem;

  background: var(--white) url('../images/lupa.svg') no-repeat;
  background-position: 97% center;
}

header .header-main-content > input::placeholder{
  font-size: 1.5rem;
}

header .header-main-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-main-content > div > span {
  font-size: 1.5rem;
  color: var(--white);
  padding-right: 2rem;
}

header .header-bottom {
  margin-top: 1.5rem;
  
  display: flex;

  width: 85%;
}

header .header-bottom nav {
  display: flex;
  align-items: center;
}

header .header-bottom nav a {
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: underline;
}

header .header-bottom button{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12rem;

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white); 
  background-color: var(--pink-light);

  overflow: hidden;
}

header .header-bottom button :first-child {
  width: 1.3rem;

  margin-right: .5rem;
}

header .header-bottom button :last-child {
  width: 2.9rem;
  transform: translateY(5%);
}


header .header-bottom nav div {
  width: 62.6rem;

  display: flex;
  justify-content: space-around;
}

/********** CONTEÚDO PRINCIPAL **********/
main {
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
}

main .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 6rem;
  margin-bottom: 1rem;
}

main .main-container h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 4.2rem;

  margin-bottom: 4rem;
}

main .main-container .products {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

main .main-container .products img {
  margin-right: 4rem;
  margin-bottom: 3rem;
}

main .main-container .products :nth-child(6n) {
  margin-right: 0;
}

/********** RODAPÉ **********/
footer {
  width: 100vw;
  height: 46.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: var(--pink-light);
}

footer .footer-top-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--pink);
}

footer .footer-top-container .footer-top {
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8.6rem; 
  background-color: var(--pink);
}

footer .footer-top-container .footer-top > div {
  display: flex;
}

footer .footer-top-container .footer-top div img {
  width: 3.62rem; 
  height: 2.94rem;

  margin-right: 1.2rem;
}

footer .footer-top-container .footer-top .footer-text-box :first-child {
  display: block;

  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
}

footer .footer-top-container .footer-top .footer-text-box :last-child {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 1.2rem;
  color: var(--white);
}

footer .footer-main{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-main > img{
  width: 17.7rem;
  height: 4.1rem;

  margin-top: 3.8rem;
  margin-bottom: 3.1rem;
}

footer .footer-main .footer-separator {
  width: 90%;
  height: .1rem;
  background-color:rgba(255, 255, 255, .2);
}

footer .footer-main .footer-main-content {
  width: 70%;
  height: 23.7rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Helvetica Neue", Helvetica, Arial;
  color: var(--white);

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

footer .footer-main .footer-main-content > div {
  width: 21rem;
  height: 15.7rem;

  display: flex;
  flex-direction: column;
}

footer .footer-main .footer-main-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  
  margin-bottom: 1.5rem;
}

footer .footer-main .footer-main-content a,
footer .footer-main .footer-main-content span {
  color: var(--white);
  line-height: 1.5rem;
  font-size: 1.2rem;

  margin-bottom: .5rem;
}

footer .footer-main .footer-main-content .department {
  width: 28.7rem;
  border-right: 1px solid rgba(255, 255, 255, .2);
}

footer .footer-main .footer-main-content .department .department-text-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

footer .footer-main .footer-main-content .department .department-text-container a {
  display: block;
}

footer .footer-main .footer-main-content .institutional a {
  display: block;
}

footer .footer-main .footer-main-content .social-medias a {
  display: flex;
  align-items: center;
}

footer .footer-main .footer-main-content .social-medias a img {
  transform: translateY(-18%);
  width: 1.2rem;
  height: 1.2rem;

  margin-right: .3rem;
}

footer .footer-main .footer-main-content .help-center > div {
  display: flex;
  flex-direction: column;
}

footer .footer-main .footer-main-content .help-center div :nth-child(2){
  font-size: 1.8rem;
  font-weight: bold;

  overflow: hidden;
}

footer .footer-main .footer-main-content .help-center :nth-child(3),
footer .footer-main .footer-main-content .help-center :nth-child(4),
footer .footer-main .footer-main-content .help-center :nth-child(5) {
  margin-bottom: 0;
}

footer .footer-main .footer-main-content .institutional,
footer .footer-main .footer-main-content .social-medias,
footer .footer-main .footer-main-content .help-center {
  padding-left: 3.8rem;
  border-right: 1px solid rgba(255, 255, 255, .2);
}

footer .footer-main .footer-main-content .help-center {
  border-right: none;
}

footer .footer-bottom {
  margin-top: 1rem;

  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 1.2rem;
  color: var(--white);
}


/*********** MEDIA SCREENS ***********/
@media screen AND (max-width: 1024px) {

  /*** CABEÇALHO ***/
  header .header-main-content > input {
    width: 50rem;
  }

  header .header-main-content > div {
    width: 20rem;
  }

  header .header-bottom button{
    width: 25rem;
    margin-left: -3rem;
    margin-right: 2.5rem;
  }

  header .header-bottom nav div {
    width: 40rem;
  }

  /*** CONTEÚDO PRINCIPAL ***/

  main .main-container h1 {
    font-size: 3rem;
  }

  main .main-container .products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main .main-container .products img {
    width: 20rem;
  }

  main .main-container .products :nth-child(4n) {
    margin-right: 0;
  }

  main .main-container .products :nth-child(6n) {
    margin-right: 4rem;
  }

  /*** FOOTER ***/
  footer .footer-top-container .footer-top {
    width: 85%;
  }

  footer .footer-main .footer-main-content {
    width: 95%;
  }
}

@media screen AND (max-width: 768px) {

    /*** CABEÇALHO ***/
  header .header-main-content > input {
    width: 40rem;
    
    margin: 0 2rem 0 2rem;
  }

  header .header-bottom nav div {
    width: 40rem;
    margin-left: -5rem;
  }

    /*** RODAPÉ ***/
  footer .footer-top-container .footer-top div img {
    width: 2.62rem; 
    height: 1.94rem;
  }
  
  footer .footer-top-container .footer-top .footer-text-box :first-child {
    font-size: 1rem;
  }

  
  footer .footer-main .footer-main-content {
    width: 95%;
    height: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  footer .footer-main > img{
    display: none;
  }
  
  footer .footer-main .footer-separator {
    display: none;
  }

  footer .footer-main .footer-main-content > div {
    width: 95%;

    display: block;
  }

  footer .footer-main .footer-main-content .department {
    width: 95%;
    border-right: none;
    margin-top: 2rem;
  }
  
  footer .footer-main .footer-main-content .department .department-text-container {
    display: block;
  }
  
  footer .footer-main .footer-main-content .department .department-text-container a {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid rgba(255, 255, 255, .2);
  }

  footer .footer-main .footer-main-content .department .department-text-container div {
    display: inline;
  }

  footer .footer-main .footer-main-content .department .department-text-container :nth-child(2) :last-child {
    padding-right: 0;
    border-right: none;
  }

  footer .footer-main .footer-main-content .institutional {
    padding-left: 0;
    margin-top: 1rem;
    border-right: none;
  }

  footer .footer-main .footer-main-content .institutional a {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: .1rem solid rgba(255, 255, 255, .2);
  }

  footer .footer-main .footer-main-content .institutional  :nth-child(2) :last-child {
    padding-right: 0;
    border-right: none;
  }

  footer .footer-main .footer-main-content .social-medias {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 1rem;
    border-right: none;

    overflow: hidden;
  }

  footer .footer-main .footer-main-content .social-medias > div{
    display: flex;
  }

  footer .footer-main .footer-main-content .social-medias a {
    display: flex;
    align-items: center;
    
    margin-bottom: 0;

    height: 2rem;

    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  footer .footer-main .footer-main-content .help-center {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    margin-top: 1rem;
  }

  footer .footer-main .footer-main-content .help-center div {
    flex-direction: row;
  }

  footer .footer-main .footer-main-content .help-center div span {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: .1rem solid rgba(255, 255, 255, .2);
  }

  footer .footer-main .footer-main-content .help-center div :nth-child(2) {
    font-size: 1.2rem;
  }

  footer .footer-main .footer-main-content .help-center div :last-child {
    border-right: none;
  }
}

@media screen AND (max-width: 425px) {
  
  /*** CABEÇALHO ***/
  header .mobile-header {
    display: block;
  }

  header .header-top {
    display: none;
  }

  header .header-main-content {
    display: none;
  }

  header .header-bottom {
    display: none;
  }

  header {
    height: 11.1rem;
  }

  header .mobile-header {
    width: 100%;
    padding: 2rem;
    padding-top: 2rem;
    overflow: hidden;
  }

  header .mobile-header .mobile-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-header .mobile-header-top div {
    display: flex;
    align-items: center;
  }

  .mobile-header .mobile-header-top div span {
    font-size: .8rem;
    color: var(--white);
    margin-right: .5rem;
  }

  .mobile-header .mobile-header-middle input {
    width: 100%;
    height: 2.4rem;

    padding-left: 2rem;
    margin-top: 1.3rem;

    background: var(--white) url('../images/lupa.svg') no-repeat;
    background-size: 1.4rem;
    background-position: 97% center;

    border: .1rem solid #DCDCDC;
    border-radius: 3.5rem;
  }

  .mobile-header .mobile-header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-header .mobile-header-bottom a {
    color: var(--white);
    font-size: 1rem;
    text-decoration: underline;

    margin-top: .5rem;
  }

  /*** CONTEÚDO PRINCIPAL ***/
   
  main .main-container {
    width: 21rem;
  }

  main .main-container h1 {
    font-size: 2rem;
  }

  main .main-container .products {
    grid-template-columns: 1fr;
  }

  main .main-container .products img {
    width: 20rem;
    margin-right: 0;
  }

  main .main-container .products :nth-child(4n) {
    margin-right: 0;
  }

  main .main-container .products :nth-child(6n) {
    margin-right: 0;
  }


  /*** RODAPÉ ***/
  footer {
    height: auto;
  }

  footer .footer-main {
    height: auto;
  }

  footer .footer-main > img{
    display: none;
  }
  
  footer .footer-main .footer-separator {
    display: none;
  }

  footer .footer-top-container {
    display: none;
  }

  footer .footer-main .footer-main-content {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  footer .footer-main .footer-main-content > div {
    display: flex;
    height: auto;
    overflow: hidden;
    padding-bottom: 2rem;
    border-bottom: .1rem solid rgba(255, 255, 255, .2);
  }

  footer .footer-main .footer-main-content .department .department-text-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  footer .footer-main .footer-main-content .department .department-text-container a {
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }

  footer .footer-main .footer-main-content .institutional a {
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }

  footer .footer-main .footer-main-content .social-medias > div {
    display: block;
  }

  footer .footer-main .footer-main-content .social-medias > div a {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  footer .footer-main .footer-main-content .help-center > div {
    flex-direction: column;
  }

  footer .footer-main .footer-main-content .help-center div span {
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }

  footer .footer-main .footer-main-content :last-child{
    border-bottom: none;
  }

  footer .footer-bottom {
    font-size: 1rem;
    padding: 0 .5rem 2rem .5rem;
  }
}